.databricks/
build/
dist/
__pycache__/
*.egg-info
.coverage
.vscode/
.pytest_cache/

# Virtual environment
.venv/
.venv*/
venv*/

scratch/**
!scratch/README.md
**/explorations/**
**/!explorations/README.md
